.page-about

	.aboutImage
		background-image: url("resources/office.jpg")
		background-size: cover
		background-position: center
		width: 100%
		height: 650px
		border-bottom: 1px solid rgba(0,0,0,0.1)
		text-align: center
		padding: 2em

		h1
			font-size: 4.2em
			color: white
			display: block
			font-family: 'gotham-med'
			position: relative
			top: 34%

		p
			font-size: 1.8em
			font-weight: 300
			max-width: 890px
			width: 100%
			margin: 0.5% auto 
			color: rgba(240,240,240,1)
			font-family: 'gotham'
			position: relative
			top: 34%

@media screen and (max-width: 500px)
	.page-about
		.content-area
			margin-top: 2%
		.aboutImage
			h1
				top: 26%
			p
				top: 26%

@media screen and (max-width: 350px)
	.page-about
		.aboutImage
			h1
				top: 22%
			p
				top: 22%