.page-home
	background-image: url("resources/cubes_@2X")
	background-color: $backgroundColor

	.logoSection
		padding: 1% 0

	.CSlogo
		margin: auto
		display: block
		width: 100%
		max-width: 750px

	.homeNav
		margin: auto
		width: 100%
		max-width: 1000px
		text-align: center
		height: 135px

		a 
			position: relative
			color: #383736
			border: 2px #383736 solid
			border-radius: 4px
			outline: 0
			overflow:hidden
			background: none
			z-index: 1
			cursor: pointer
			transition:         0.08s ease-in
			-o-transition:      0.08s ease-in
			-ms-transition:     0.08s ease-in
			-moz-transition:    0.08s ease-in
			-webkit-transition: 0.08s ease-in
			padding: 10px 0
			border: 3px solid white
			margin-right: 50px
			text-decoration: none
			color: white
			font-size: 2em
			display: inline-block
			width: 250px

			&:last-child
				margin-right: 0

		a:hover 
			color: $backgroundColor

		a:before 
			content: ""
			position: absolute
			background: white
			bottom: 0
			left: 0
			right: 0
			top: 100%
			z-index: -1
			-webkit-transition: top 0.09s ease-in

		a:hover:before 
			top: 0