.page-team

	.creative-team
		width: 100%
		margin: 0 auto
		padding: 10px 10px 3% 10px


	.content-area
		padding: 0 100px 4% 100px

	.isotope
		margin-top: 1%
		width: 100%


	/* clearfix */
	.isotope:after 
		content: ' '
		display: block
		clear: both

	.item 
		width: 25%
		height: 500px
		float: left
		cursor: pointer
		text-align: center
		border-radius: 4px
		background-size: cover
		background-position: center center
		border: 5px solid $backgroundColor




	.nameHeader
		background-color: white

		h3
			padding: 0.3em 0
			font-size: 2.5em
			font-weight: 300
			color: rgba(90,119,170,1)
			font-family: 'gotham'

	.itemIcons
		position: absolute
		bottom: 0
		text-align: center
		background-color: white
		width: 100%
		overflow: hidden
		height: 0


		a
			font-size: 3.5em
			color: rgba(90,119,170,1)
			margin: 0 1.5%
			transition: color 0.2s ease-in-out

			&:hover
				color: rgba(38,43,49,1)


	label, input
		cursor: pointer

	input
		-webkit-appearance: none
		height: 20px
		width: 20px
		border: 1px solid white
		border-radius: 4px
		box-sizing: border-box
		box-shadow: 0 1px 0 #eeecec
		outline: none
		cursor: pointer
		transition-duration: .25s
		transition-property: background-color

		&:hover
			background-color: lighten(rgba(90,119,170,1),20%)


		&:active, &:checked
			background-color: white

	label
		font-size: 1.75em
		font-weight: 300
		color: white
		vertical-align: top
		margin-right: 0.5em

		&:last-child
			margin-right: 0

	form
		text-align: right
		


@media screen and (max-width: 1500px)
	.page-team
		.content-area
			padding: 0 20px 4%

@media screen and (max-width: 1400px)
	.page-team
		.content-area
			padding: 0 50px 4%
		.item
			width: 50%

@media screen and (max-width: 800px)
	.page-team
		.content-area
			padding: 0 20px 4%
		.item
			width: 100%

@media screen and (max-width: 450px)
	.page-team
		.content-area
			padding: 0 0 4%
		.item
			width: 100%

		.creative-team
			padding: 10px 0 3%
